body {
  height: 100%;
  background: url('../images/2016-03-31_07-56-46.png') rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: left top;
  font: 400 0.875em/1.38 'Dots All For Now JL';
  color: #0d0d0d;
}

div p {
  margin-bottom: 1em;
}

.container {
  position: relative;
  float: left;
  z-index: 5;
  width: 25.1328125%;
  height: 218px;
  margin: -585px 0 0 0.91667%;
}

.container .text {
  min-height: 58px;
  margin-top: 10px;
  font-size: 1em;
  color: #0d0d0d;
}

.element {
  position: relative;
  float: left;
  z-index: 0;
  width: 27.8333333333%;
  height: 897px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 6px 24px rgba(0, 0, 0, .5);
}

.text {
  float: left;
}

._input {
  display: block;
  position: relative;
  float: left;
  z-index: 7;
  width: 23.5833333333%;
  height: 36px;
  margin: -799px 0 0 1.83073%;
  padding: 0 10px;
  background-color: rgb(242, 242, 242);
  font-family: 'Open Sans';
  font-size: 0.929em;
  color: rgb(0, 0, 0);
}

.text-1 {
  position: relative;
  clear: both;
  z-index: 6;
  margin: -875px 0 0 0.91667%;
  font-family: 'Open Sans';
  font-size: 1.929em;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.text-2 {
  position: relative;
  z-index: 8;
  width: 18%;
  min-height: 37px;
  margin: -633px 0 0 0.91667%;
  font-family: 'Open Sans';
  font-size: 1.714em;
  color: #0d0d0d;
}

.text-3 {
  width: 15.2317880794%;
}

.text-4 {
  width: 23.5099337748%;
  margin-left: 6.62108%;
}

.text-5 {
  width: 23.8410596026%;
  margin-left: 14.56844%;
}

.text-6 {
  width: 12.9139072847%;
  margin-left: 3.17584%;
}
