.mapContainer {
    width: 500px;
    height: 500px;
    overflow: hidden;
    margin: -28px 0 0 54px;
/*
    -webkit-transform: rotateX(13deg) rotateY(13deg) rotateZ(-18deg);
    -moz-transform: rotateX(13deg) rotateY(13deg) rotateZ(-18deg);
    -ms-transform: rotateX(13deg) rotateY(13deg) rotateZ(-18deg);
    -o-transform: rotateX(13deg) rotateY(13deg) rotateZ(-18deg);
*/
transform: perspective( 900px ) rotateY( 45deg );
}
