/*
.mapContainer {
    width: 70%;
    height: auto;
    overflow: hidden;
    margin: -28px 0 0 54px;
    -webkit-transform: rotateX(13deg) rotateY(13deg) rotateZ(-18deg);
    -moz-transform: rotateX(13deg) rotateY(13deg) rotateZ(-18deg);
    -ms-transform: rotateX(13deg) rotateY(13deg) rotateZ(-18deg);
    -o-transform: rotateX(13deg) rotateY(13deg) rotateZ(-18deg);
transform: perspective( 900px ) rotateY( 45deg );
position: absolute;
    left: 20%;
    top: 0;
}
*/

.mockupContainer {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}
#interfaceEmbed {
    width: 100%;
    height: 400px;
    overflow: hidden;
}
#quote {
    font-style: italic;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
